.conteiner{
    margin: 0% auto;
    padding: 20px;
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 16px;
}

.action-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.action-btn:hover {
    background: rgb(112, 253, 239);
}

#content{
    width: 500px;
    margin: 0% auto;
    background: rgb(229, 229, 231);
    border-radius: 20px;
    padding: 16px;
}